* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.hall-container{
  margin: 20px 0;
}

.hall-container label{
  margin-left: 70px;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat,.free-seat{
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected{
  background-color: #6feaf6;
}

.selected-seat{
  background-color:#6feaf6;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.occupied{
  background-color: red;
}

.occupied-seat{
  background-color: red;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sit-status{
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.sit-status li{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.sit-status li p{
  margin-left: 2px;
}

.row1,.row2,.row3,.row4,.row5,.row6{
  display: flex;
}

/* Yang: wonder if there is smarter way to do this part, instead of adjusting padding for each role by padding-left */
.row1{
  padding-left: 65px;
}

.row2{
  padding-left: 43px;
}

.row3{
  padding-left: 22px;
}

.row4,.row5{
  padding-left: 22px;
}

/* Yang: Same as image poster for movies on mainpage, while hovered, scale bigger*/
.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}